[Desktop Entry]
Name=blueranger
Comment=blueranger
Encoding=UTF-8
Exec=menuexec blueranger --help
Icon=ctxos_blueranger
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Ctxos-Package=blueranger
