[Desktop Entry]
Name=hash-identifier
Comment=hash-identifier
Encoding=UTF-8
Exec=menuexec hash-identifier --help
Icon=ctxos_hash-identifier
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-Ctxos-Package=hash-identifier
