[Desktop Entry]
Name=canlogserver
Comment=canlogserver
Encoding=UTF-8
Exec=menuexec canlogserver --help
Icon=ctxos_canlogserver
StartupNotify=false
Terminal=true
Type=Application
Categories=13-automotive;
X-Ctxos-Package=canlogserver
