[Desktop Entry]
Name=airserv
Comment=airserv
Encoding=UTF-8
Exec=menuexec airserv --help
Icon=ctxos_airserv
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Ctxos-Package=airserv
