[Desktop Entry]
Name=mitmproxy
Comment=mitmproxy
Encoding=UTF-8
Exec=menuexec mitmproxy --help
Icon=ctxos_mitmproxy
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;
X-Ctxos-Package=mitmproxy
