[Desktop Entry]
Name=faraday stop
Comment=faraday stop
Encoding=UTF-8
Exec=menuexec sudo service faraday stop
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=14-services;
X-Ctxos-Package=faraday
